@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x22enp');
  src:  url('fonts/icomoon.eot?x22enp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x22enp') format('truetype'),
    url('fonts/icomoon.woff?x22enp') format('woff'),
    url('fonts/icomoon.svg?x22enp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "\e924";
}
.icon-ic_default_module:before {
  content: "\e923";
}
.icon-ic_arrow_front:before {
  content: "\e91e";
}
.icon-ic_arrow_back:before {
  content: "\e91f";
}
.icon-ic_drag_indicator:before {
  content: "\e920";
}
.icon-ic_pause:before {
  content: "\e91d";
}
.icon-ic_arrow_filter_down:before {
  content: "\e91b";
}
.icon-ic_arrow_filter_up:before {
  content: "\e91c";
}
.icon-ic_more:before {
  content: "\e918";
}
.icon-ic_chevron_left:before {
  content: "\e919";
}
.icon-ic_chevron_right:before {
  content: "\e91a";
}
.icon-ic_check:before {
  content: "\e915";
}
.icon-ic_close:before {
  content: "\e916";
}
.icon-ic_search:before {
  content: "\e917";
}
.icon-ic_menu:before {
  content: "\e914";
}
.icon-ic_adjustments:before {
  content: "\e904";
}
.icon-ic_camera:before {
  content: "\e905";
}
.icon-ic_delete:before {
  content: "\e906";
}
.icon-ic_edit:before {
  content: "\e907";
}
.icon-ic_access_control:before {
  content: "\e908";
}
.icon-ic_billing:before {
  content: "\e909";
}
.icon-ic_clock:before {
  content: "\e90a";
}
.icon-ic_dashboard:before {
  content: "\e90b";
}
.icon-ic_file_manager:before {
  content: "\e90c";
}
.icon-ic_grid_mode:before {
  content: "\e90d";
}
.icon-ic_info:before {
  content: "\e90e";
}
.icon-ic_list_mode:before {
  content: "\e90f";
}
.icon-ic_plus:before {
  content: "\e910";
}
.icon-ic_profile:before {
  content: "\e911";
}
.icon-ic_restore:before {
  content: "\e912";
}
.icon-ic_status_bullet:before {
  content: "\e913";
}
.icon-ic_arrow_back1:before {
  content: "\e900";
}
.icon-ic_eye_black_off .path1:before {
  content: "\e901";
  color: rgb(74, 74, 74);
}
.icon-ic_eye_black_off .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-ic_eye_black_on:before {
  content: "\e903";
}
.icon-ic_arrow_end:before {
  content: "\e921";
}
.icon-ic_pause1:before {
  content: "\e922";
}
