.button {
    font-family: $font-primary;
    font-weight: $font-bold;
    line-height: $lh-button;
    font-size: $button;
    color: $white;
    text-align: center;
    border-radius: 20px;
    background: $neutral-color-2;
    padding: 9px 15px 10px;
    min-width: 160px;
    height: 2.50em;

    &:hover {
        background: $white;
    }

    &:focus,
    &:active {
        background: $main-color-1;
    }

    &[disabled],
    &[disabled]:hover {
        background: $neutral-color-2;
    }
}

.button-primary {
    background: $main-color-1;
    border: none;

    &:hover {
        background: $main-color-3;
        color: $white;
    }

    &:focus,
    &:active {
        background: $main-color-1;
        color: $white;
    }

    &.disabled {
        background: $neutral-color-2;
    }
}

.button-secondary {
    background: $white;
    border: solid 2px $main-color-1;
    color: $main-color-1;

    &:hover {
        background: $main-color-1;
        color: $white;
    }

    &:focus,
    &:active {
        background: $white;
        border: solid 2px $main-color-1;
        color: $main-color-1;
    }

    &.disabled {
        opacity: 0.8;
    }
}
