$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-facebook1: "\e915";
$icon-instagram1: "\e95a";
$icon-linkedin1: "\e95b";
$icon-star: "\e983";
$icon-star_empty: "\e984";
$icon-twitter1: "\e985";
$icon-youtube1: "\e986";
$icon-ic_alert: "\e987";
$icon-ic_fechar: "\e988";
$icon-ic_atendimento: "\e989";
$icon-ic_boleto: "\e98a";
$icon-ic_calendario: "\e98b";
$icon-ic_camera_branco: "\e98c";
$icon-ic_check: "\e98d";
$icon-ic_editar: "\e98e";
$icon-ic_filiais: "\e98f";
$icon-ic_grid_2c: "\e990";
$icon-ic_grid_4c: "\e991";
$icon-ic_home: "\e992";
$icon-ic_info: "\e993";
$icon-ic_informativo: "\e994";
$icon-ic_lupa: "\e995";
$icon-ic_oferta: "\e996";
$icon-ic_seta_baixo: "\e997";
$icon-ic_seta_cima: "\e998";
$icon-ic_seta_direita: "\e999";
$icon-ic_seta_direita_red: "\e99a";
$icon-ic_seta_esquerda: "\e99b";
$icon-ic_devolucao: "\e99c";
$icon-ic_sair: "\e99d";
$icon-ic_detalhes_cota: "\e99e";
$icon-ic_solicitacoes: "\e9a1";
$icon-audio: "\e900";
$icon-brazil-flag-path1: "\e901";
$icon-brazil-flag-path2: "\e902";
$icon-brazil-flag-path3: "\e903";
$icon-brazil-flag-path4: "\e904";
$icon-clicker: "\e905";
$icon-electronics: "\e906";
$icon-england-path1: "\e907";
$icon-england-path2: "\e908";
$icon-france-path1: "\e909";
$icon-france-path2: "\e90a";
$icon-france-path3: "\e90b";
$icon-ic_logo_gray: "\e90c";
$icon-ic_rotate_left: "\e90d";
$icon-ic_rotate_right: "\e90e";
$icon-img_select_doc-path1: "\e90f";
$icon-img_select_doc-path2: "\e910";
$icon-img_select_doc-path3: "\e911";
$icon-laptop1: "\e912";
$icon-like: "\e913";
$icon-logo-path1: "\e914";
$icon-logo-path2: "\e916";
$icon-logo-path3: "\e917";
$icon-logo-path4: "\e918";
$icon-logo-path5: "\e919";
$icon-logo-path6: "\e91a";
$icon-logo-path7: "\e91b";
$icon-logo-path8: "\e91c";
$icon-logo-path9: "\e91d";
$icon-logo-path10: "\e91e";
$icon-logo-path11: "\e91f";
$icon-logo-path12: "\e920";
$icon-logo-path13: "\e921";
$icon-logo-path14: "\e922";
$icon-logo-path15: "\e923";
$icon-logo-path16: "\e924";
$icon-logo-path17: "\e925";
$icon-logo-path18: "\e926";
$icon-logo-path19: "\e927";
$icon-logo-path20: "\e928";
$icon-logo-path21: "\e929";
$icon-logo-path22: "\e92a";
$icon-logo-path23: "\e92b";
$icon-logo-path24: "\e92c";
$icon-logo-path25: "\e92d";
$icon-logo-path26: "\e92e";
$icon-logo-path27: "\e92f";
$icon-logo-path28: "\e930";
$icon-logo-path29: "\e931";
$icon-logo-path30: "\e932";
$icon-logo-path31: "\e933";
$icon-logo-path32: "\e934";
$icon-logo-path33: "\e935";
$icon-logo-path34: "\e936";
$icon-logo-path35: "\e937";
$icon-logo-path36: "\e938";
$icon-logo-path37: "\e939";
$icon-logo-path38: "\e93a";
$icon-LogoLucas: "\e93b";
$icon-LogoLucas2: "\e93c";
$icon-man1-path1: "\e93d";
$icon-man1-path2: "\e93e";
$icon-man1-path3: "\e93f";
$icon-man1-path4: "\e940";
$icon-man1-path5: "\e941";
$icon-man1-path6: "\e942";
$icon-man1-path7: "\e943";
$icon-man1-path8: "\e944";
$icon-man1-path9: "\e945";
$icon-man1-path10: "\e946";
$icon-man1-path11: "\e947";
$icon-man1-path12: "\e948";
$icon-man1-path13: "\e949";
$icon-man1-path14: "\e94a";
$icon-man1-path15: "\e94b";
$icon-man1-path16: "\e94c";
$icon-man1-path17: "\e94d";
$icon-man1-path18: "\e94e";
$icon-man1-path19: "\e94f";
$icon-man1-path20: "\e950";
$icon-man1-path21: "\e951";
$icon-man1-path22: "\e952";
$icon-man1-path23: "\e953";
$icon-man1-path24: "\e954";
$icon-man1-path25: "\e955";
$icon-man1-path26: "\e956";
$icon-man1-path27: "\e957";
$icon-man1-path28: "\e958";
$icon-man1-path29: "\e959";
$icon-man1-path30: "\e95c";
$icon-man1-path31: "\e95d";
$icon-man1-path32: "\e95e";
$icon-man1-path33: "\e95f";
$icon-place: "\e960";
$icon-portrait: "\e961";
$icon-study: "\e962";
$icon-tag: "\e963";
$icon-work: "\e964";
$icon-home: "\e965";
$icon-home2: "\e966";
$icon-home3: "\e967";
$icon-office: "\e968";
$icon-newspaper: "\e969";
$icon-pencil: "\e96a";
$icon-pencil2: "\e96b";
$icon-quill: "\e96c";
$icon-pen: "\e96d";
$icon-blog: "\e96e";
$icon-eyedropper: "\e96f";
$icon-droplet: "\e970";
$icon-paint-format: "\e971";
$icon-image: "\e972";
$icon-images: "\e973";
$icon-camera: "\e974";
$icon-headphones: "\e975";
$icon-music: "\e976";
$icon-play: "\e977";
$icon-film: "\e978";
$icon-video-camera: "\e979";
$icon-dice: "\e97a";
$icon-pacman: "\e97b";
$icon-spades: "\e97c";
$icon-clubs: "\e97d";
$icon-diamonds: "\e97e";
$icon-bullhorn: "\e97f";
$icon-connection: "\e980";
$icon-podcast: "\e981";
$icon-feed: "\e982";
$icon-mic: "\e99f";
$icon-book: "\e9a0";
$icon-books: "\e9a2";
$icon-library: "\e9a3";
$icon-file-text: "\e9a4";
$icon-profile: "\e9a5";
$icon-file-empty: "\e9a6";
$icon-files-empty: "\e9a7";
$icon-file-text2: "\e9a8";
$icon-file-picture: "\e9a9";
$icon-file-music: "\e9aa";
$icon-file-play: "\e9ab";
$icon-file-video: "\e9ac";
$icon-file-zip: "\e9ad";
$icon-copy: "\e9ae";
$icon-paste: "\e9af";
$icon-stack: "\e9b0";
$icon-folder: "\e9b1";
$icon-folder-open: "\e9b2";
$icon-folder-plus: "\e9b3";
$icon-folder-minus: "\e9b4";
$icon-folder-download: "\e9b5";
$icon-folder-upload: "\e9b6";
$icon-price-tag: "\e9b7";
$icon-price-tags: "\e9b8";
$icon-barcode: "\e9b9";
$icon-qrcode: "\e9ba";
$icon-ticket: "\e9bb";
$icon-cart: "\e9bc";
$icon-coin-dollar: "\e9bd";
$icon-coin-euro: "\e9be";
$icon-coin-pound: "\e9bf";
$icon-coin-yen: "\e9c0";
$icon-credit-card: "\e9c1";
$icon-calculator: "\e9c2";
$icon-lifebuoy: "\e9c3";
$icon-phone: "\e9c4";
$icon-phone-hang-up: "\e9c5";
$icon-address-book: "\e9c6";
$icon-envelop: "\e9c7";
$icon-pushpin: "\e9c8";
$icon-location: "\e9c9";
$icon-location2: "\e9ca";
$icon-compass: "\e9cb";
$icon-compass2: "\e9cc";
$icon-map: "\e9cd";
$icon-map2: "\e9ce";
$icon-history: "\e9cf";
$icon-clock: "\e9d0";
$icon-clock2: "\e9d1";
$icon-alarm: "\e9d2";
$icon-bell: "\e9d3";
$icon-stopwatch: "\e9d4";
$icon-calendar: "\e9d5";
$icon-printer: "\e9d6";
$icon-keyboard: "\e9d7";
$icon-display: "\e9d8";
$icon-laptop: "\e9d9";
$icon-mobile: "\e9da";
$icon-mobile2: "\e9db";
$icon-tablet: "\e9dc";
$icon-tv: "\e9dd";
$icon-drawer: "\e9de";
$icon-drawer2: "\e9df";
$icon-box-add: "\e9e0";
$icon-box-remove: "\e9e1";
$icon-download: "\e9e2";
$icon-upload: "\e9e3";
$icon-floppy-disk: "\e9e4";
$icon-drive: "\e9e5";
$icon-database: "\e9e6";
$icon-undo: "\e9e7";
$icon-redo: "\e9e8";
$icon-undo2: "\e9e9";
$icon-redo2: "\e9ea";
$icon-forward: "\e9eb";
$icon-reply: "\e9ec";
$icon-bubble: "\e9ed";
$icon-bubbles: "\e9ee";
$icon-bubbles2: "\e9ef";
$icon-bubble2: "\e9f0";
$icon-bubbles3: "\e9f1";
$icon-bubbles4: "\e9f2";
$icon-user: "\e9f3";
$icon-users: "\e9f4";
$icon-user-plus: "\e9f5";
$icon-user-minus: "\e9f6";
$icon-user-check: "\e9f7";
$icon-user-tie: "\e9f8";
$icon-quotes-left: "\e9f9";
$icon-quotes-right: "\e9fa";
$icon-hour-glass: "\e9fb";
$icon-spinner: "\e9fc";
$icon-spinner2: "\e9fd";
$icon-spinner3: "\e9fe";
$icon-spinner4: "\e9ff";
$icon-spinner5: "\ea00";
$icon-spinner6: "\ea01";
$icon-spinner7: "\ea02";
$icon-spinner8: "\ea03";
$icon-spinner9: "\ea04";
$icon-spinner10: "\ea05";
$icon-spinner11: "\ea06";
$icon-binoculars: "\ea07";
$icon-search: "\ea08";
$icon-zoom-in: "\ea09";
$icon-zoom-out: "\ea0a";
$icon-enlarge: "\ea0b";
$icon-shrink: "\ea0c";
$icon-enlarge2: "\ea0d";
$icon-shrink2: "\ea0e";
$icon-key: "\ea0f";
$icon-key2: "\ea10";
$icon-lock: "\ea11";
$icon-unlocked: "\ea12";
$icon-wrench: "\ea13";
$icon-equalizer: "\ea14";
$icon-equalizer2: "\ea15";
$icon-cog: "\ea16";
$icon-cogs: "\ea17";
$icon-hammer: "\ea18";
$icon-magic-wand: "\ea19";
$icon-aid-kit: "\ea1a";
$icon-bug: "\ea1b";
$icon-pie-chart: "\ea1c";
$icon-stats-dots: "\ea1d";
$icon-stats-bars: "\ea1e";
$icon-stats-bars2: "\ea1f";
$icon-trophy: "\ea20";
$icon-gift: "\ea21";
$icon-glass: "\ea22";
$icon-glass2: "\ea23";
$icon-mug: "\ea24";
$icon-spoon-knife: "\ea25";
$icon-leaf: "\ea26";
$icon-rocket: "\ea27";
$icon-meter: "\ea28";
$icon-meter2: "\ea29";
$icon-hammer2: "\ea2a";
$icon-fire: "\ea2b";
$icon-lab: "\ea2c";
$icon-magnet: "\ea2d";
$icon-bin: "\ea2e";
$icon-bin2: "\ea2f";
$icon-briefcase: "\ea30";
$icon-airplane: "\ea31";
$icon-truck: "\ea32";
$icon-road: "\ea33";
$icon-accessibility: "\ea34";
$icon-target: "\ea35";
$icon-shield: "\ea36";
$icon-power: "\ea37";
$icon-switch: "\ea38";
$icon-power-cord: "\ea39";
$icon-clipboard: "\ea3a";
$icon-list-numbered: "\ea3b";
$icon-list: "\ea3c";
$icon-list2: "\ea3d";
$icon-tree: "\ea3e";
$icon-menu: "\ea3f";
$icon-menu2: "\ea40";
$icon-menu3: "\ea41";
$icon-menu4: "\ea42";
$icon-cloud: "\ea43";
$icon-cloud-download: "\ea44";
$icon-cloud-upload: "\ea45";
$icon-cloud-check: "\ea46";
$icon-download2: "\ea47";
$icon-upload2: "\ea48";
$icon-download3: "\ea49";
$icon-upload3: "\ea4a";
$icon-sphere: "\ea4b";
$icon-earth: "\ea4c";
$icon-link: "\ea4d";
$icon-flag: "\ea4e";
$icon-attachment: "\ea4f";
$icon-eye: "\ea50";
$icon-eye-plus: "\ea51";
$icon-eye-minus: "\ea52";
$icon-eye-blocked: "\ea53";
$icon-bookmark: "\ea54";
$icon-bookmarks: "\ea55";
$icon-sun: "\ea56";
$icon-contrast: "\ea57";
$icon-brightness-contrast: "\ea58";
$icon-star-empty: "\ea59";
$icon-star-half: "\ea5a";
$icon-star-full: "\ea5b";
$icon-heart: "\ea5c";
$icon-heart-broken: "\ea5d";
$icon-man: "\ea5e";
$icon-woman: "\ea5f";
$icon-man-woman: "\ea60";
$icon-happy: "\ea61";
$icon-happy2: "\ea62";
$icon-smile: "\ea63";
$icon-smile2: "\ea64";
$icon-tongue: "\ea65";
$icon-tongue2: "\ea66";
$icon-sad: "\ea67";
$icon-sad2: "\ea68";
$icon-wink: "\ea69";
$icon-wink2: "\ea6a";
$icon-grin: "\ea6b";
$icon-grin2: "\ea6c";
$icon-cool: "\ea6d";
$icon-cool2: "\ea6e";
$icon-angry: "\ea6f";
$icon-angry2: "\ea70";
$icon-evil: "\ea71";
$icon-evil2: "\ea72";
$icon-shocked: "\ea73";
$icon-shocked2: "\ea74";
$icon-baffled: "\ea75";
$icon-baffled2: "\ea76";
$icon-confused: "\ea77";
$icon-confused2: "\ea78";
$icon-neutral: "\ea79";
$icon-neutral2: "\ea7a";
$icon-hipster: "\ea7b";
$icon-hipster2: "\ea7c";
$icon-wondering: "\ea7d";
$icon-wondering2: "\ea7e";
$icon-sleepy: "\ea7f";
$icon-sleepy2: "\ea80";
$icon-frustrated: "\ea81";
$icon-frustrated2: "\ea82";
$icon-crying: "\ea83";
$icon-crying2: "\ea84";
$icon-point-up: "\ea85";
$icon-point-right: "\ea86";
$icon-point-down: "\ea87";
$icon-point-left: "\ea88";
$icon-warning: "\ea89";
$icon-notification: "\ea8a";
$icon-question: "\ea8b";
$icon-plus: "\ea8c";
$icon-minus: "\ea8d";
$icon-info: "\ea8e";
$icon-cancel-circle: "\ea8f";
$icon-blocked: "\ea90";
$icon-cross: "\ea91";
$icon-checkmark: "\ea92";
$icon-checkmark2: "\ea93";
$icon-spell-check: "\ea94";
$icon-enter: "\ea95";
$icon-exit: "\ea96";
$icon-play2: "\ea97";
$icon-pause: "\ea98";
$icon-stop: "\ea99";
$icon-previous: "\ea9a";
$icon-next: "\ea9b";
$icon-backward: "\ea9c";
$icon-forward2: "\ea9d";
$icon-play3: "\ea9e";
$icon-pause2: "\ea9f";
$icon-stop2: "\eaa0";
$icon-backward2: "\eaa1";
$icon-forward3: "\eaa2";
$icon-first: "\eaa3";
$icon-last: "\eaa4";
$icon-previous2: "\eaa5";
$icon-next2: "\eaa6";
$icon-eject: "\eaa7";
$icon-volume-high: "\eaa8";
$icon-volume-medium: "\eaa9";
$icon-volume-low: "\eaaa";
$icon-volume-mute: "\eaab";
$icon-volume-mute2: "\eaac";
$icon-volume-increase: "\eaad";
$icon-volume-decrease: "\eaae";
$icon-loop: "\eaaf";
$icon-loop2: "\eab0";
$icon-infinite: "\eab1";
$icon-shuffle: "\eab2";
$icon-arrow-up-left: "\eab3";
$icon-arrow-up: "\eab4";
$icon-arrow-up-right: "\eab5";
$icon-arrow-right: "\eab6";
$icon-arrow-down-right: "\eab7";
$icon-arrow-down: "\eab8";
$icon-arrow-down-left: "\eab9";
$icon-arrow-left: "\eaba";
$icon-arrow-up-left2: "\eabb";
$icon-arrow-up2: "\eabc";
$icon-arrow-up-right2: "\eabd";
$icon-arrow-right2: "\eabe";
$icon-arrow-down-right2: "\eabf";
$icon-arrow-down2: "\eac0";
$icon-arrow-down-left2: "\eac1";
$icon-arrow-left2: "\eac2";
$icon-circle-up: "\eac3";
$icon-circle-right: "\eac4";
$icon-circle-down: "\eac5";
$icon-circle-left: "\eac6";
$icon-tab: "\eac7";
$icon-move-up: "\eac8";
$icon-move-down: "\eac9";
$icon-sort-alpha-asc: "\eaca";
$icon-sort-alpha-desc: "\eacb";
$icon-sort-numeric-asc: "\eacc";
$icon-sort-numberic-desc: "\eacd";
$icon-sort-amount-asc: "\eace";
$icon-sort-amount-desc: "\eacf";
$icon-command: "\ead0";
$icon-shift: "\ead1";
$icon-ctrl: "\ead2";
$icon-opt: "\ead3";
$icon-checkbox-checked: "\ead4";
$icon-checkbox-unchecked: "\ead5";
$icon-radio-checked: "\ead6";
$icon-radio-checked2: "\ead7";
$icon-radio-unchecked: "\ead8";
$icon-crop: "\ead9";
$icon-make-group: "\eada";
$icon-ungroup: "\eadb";
$icon-scissors: "\eadc";
$icon-filter: "\eadd";
$icon-font: "\eade";
$icon-ligature: "\eadf";
$icon-ligature2: "\eae0";
$icon-text-height: "\eae1";
$icon-text-width: "\eae2";
$icon-font-size: "\eae3";
$icon-bold: "\eae4";
$icon-underline: "\eae5";
$icon-italic: "\eae6";
$icon-strikethrough: "\eae7";
$icon-omega: "\eae8";
$icon-sigma: "\eae9";
$icon-page-break: "\eaea";
$icon-superscript: "\eaeb";
$icon-subscript: "\eaec";
$icon-superscript2: "\eaed";
$icon-subscript2: "\eaee";
$icon-text-color: "\eaef";
$icon-pagebreak: "\eaf0";
$icon-clear-formatting: "\eaf1";
$icon-table: "\eaf2";
$icon-table2: "\eaf3";
$icon-insert-template: "\eaf4";
$icon-pilcrow: "\eaf5";
$icon-ltr: "\eaf6";
$icon-rtl: "\eaf7";
$icon-section: "\eaf8";
$icon-paragraph-left: "\eaf9";
$icon-paragraph-center: "\eafa";
$icon-paragraph-right: "\eafb";
$icon-paragraph-justify: "\eafc";
$icon-indent-increase: "\eafd";
$icon-indent-decrease: "\eafe";
$icon-share: "\eaff";
$icon-new-tab: "\eb00";
$icon-embed: "\eb01";
$icon-embed2: "\eb02";
$icon-terminal: "\eb03";
$icon-share2: "\eb04";
$icon-mail: "\eb05";
$icon-mail2: "\eb06";
$icon-mail3: "\eb07";
$icon-mail4: "\eb08";
$icon-amazon: "\eb09";
$icon-google: "\eb0a";
$icon-google2: "\eb0b";
$icon-google3: "\eb0c";
$icon-google-plus: "\eb0d";
$icon-google-plus2: "\eb0e";
$icon-google-plus3: "\eb0f";
$icon-hangouts: "\eb10";
$icon-google-drive: "\eb11";
$icon-facebook: "\eb12";
$icon-facebook2: "\eb13";
$icon-instagram: "\eb14";
$icon-whatsapp: "\eb15";
$icon-spotify: "\eb16";
$icon-telegram: "\eb17";
$icon-twitter: "\eb18";
$icon-vine: "\eb19";
$icon-vk: "\eb1a";
$icon-renren: "\eb1b";
$icon-sina-weibo: "\eb1c";
$icon-rss: "\eb1d";
$icon-rss2: "\eb1e";
$icon-youtube: "\eb1f";
$icon-youtube2: "\eb20";
$icon-twitch: "\eb21";
$icon-vimeo: "\eb22";
$icon-vimeo2: "\eb23";
$icon-lanyrd: "\eb24";
$icon-flickr: "\eb25";
$icon-flickr2: "\eb26";
$icon-flickr3: "\eb27";
$icon-flickr4: "\eb28";
$icon-dribbble: "\eb29";
$icon-behance: "\eb2a";
$icon-behance2: "\eb2b";
$icon-deviantart: "\eb2c";
$icon-500px: "\eb2d";
$icon-steam: "\eb2e";
$icon-steam2: "\eb2f";
$icon-dropbox: "\eb30";
$icon-onedrive: "\eb31";
$icon-github: "\eb32";
$icon-npm: "\eb33";
$icon-basecamp: "\eb34";
$icon-trello: "\eb35";
$icon-wordpress: "\eb36";
$icon-joomla: "\eb37";
$icon-ello: "\eb38";
$icon-blogger: "\eb39";
$icon-blogger2: "\eb3a";
$icon-tumblr: "\eb3b";
$icon-tumblr2: "\eb3c";
$icon-yahoo: "\eb3d";
$icon-yahoo2: "\eb3e";
$icon-tux: "\eb3f";
$icon-appleinc: "\eb40";
$icon-finder: "\eb41";
$icon-android: "\eb42";
$icon-windows: "\eb43";
$icon-windows8: "\eb44";
$icon-soundcloud: "\eb45";
$icon-soundcloud2: "\eb46";
$icon-skype: "\eb47";
$icon-reddit: "\eb48";
$icon-hackernews: "\eb49";
$icon-wikipedia: "\eb4a";
$icon-linkedin: "\eb4b";
$icon-linkedin2: "\eb4c";
$icon-lastfm: "\eb4d";
$icon-lastfm2: "\eb4e";
$icon-delicious: "\eb4f";
$icon-stumbleupon: "\eb50";
$icon-stumbleupon2: "\eb51";
$icon-stackoverflow: "\eb52";
$icon-pinterest: "\eb53";
$icon-pinterest2: "\eb54";
$icon-xing: "\eb55";
$icon-xing2: "\eb56";
$icon-flattr: "\eb57";
$icon-foursquare: "\eb58";
$icon-yelp: "\eb59";
$icon-paypal: "\eb5a";
$icon-chrome: "\eb5b";
$icon-firefox: "\eb5c";
$icon-IE: "\eb5d";
$icon-edge: "\eb5e";
$icon-safari: "\eb5f";
$icon-opera: "\eb60";
$icon-file-pdf: "\eb61";
$icon-file-openoffice: "\eb62";
$icon-file-word: "\eb63";
$icon-file-excel: "\eb64";
$icon-libreoffice: "\eb65";
$icon-html-five: "\eb66";
$icon-html-five2: "\eb67";
$icon-css3: "\eb68";
$icon-git: "\eb69";
$icon-codepen: "\eb6a";
$icon-svg: "\eb6b";
$icon-IcoMoon: "\eb6c";

