$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-batman: "\e9cf";
$icon-death-star: "\e9d0";
$icon-soccer: "\e9d1";
$icon-fitness: "\e9d2";
$icon-music2: "\e9d3";
$icon-family: "\e9d4";
$icon-beer: "\e9d5";
$icon-coder: "\e9d6";
$icon-book2: "\e9d7";
$icon-cinema: "\e9d8";
$icon-naruto: "\e9d9";
$icon-audio1: "\e9da";
$icon-uniE9DB: "\e9db";
$icon-uniE9DC: "\e9dc";
$icon-uniE9DD: "\e9dd";
$icon-uniE9DE: "\e9de";
$icon-clicker1: "\e9df";
$icon-electronics1: "\e9e0";
$icon-uniE9E1: "\e9e1";
$icon-uniE9E2: "\e9e2";
$icon-uniE9E3: "\e9e3";
$icon-uniE9E4: "\e9e4";
$icon-uniE9E5: "\e9e5";
$icon-ic_logo_gray1: "\e9e6";
$icon-uniE9E7: "\e9e7";
$icon-uniE9E8: "\e9e8";
$icon-uniE9E9: "\e9e9";
$icon-laptop11: "\e9ea";
$icon-like1: "\e9eb";
$icon-uniE9EC: "\e9ec";
$icon-facebook11: "\e9ed";
$icon-uniE9EE: "\e9ee";
$icon-uniE9EF: "\e9ef";
$icon-uniE9F0: "\e9f0";
$icon-uniE9F1: "\e9f1";
$icon-uniE9F2: "\e9f2";
$icon-uniE9F3: "\e9f3";
$icon-uniE9F4: "\e9f4";
$icon-uniE9F5: "\e9f5";
$icon-uniE9F6: "\e9f6";
$icon-uniE9F7: "\e9f7";
$icon-uniE9F8: "\e9f8";
$icon-uniE9F9: "\e9f9";
$icon-uniE9FA: "\e9fa";
$icon-uniE9FB: "\e9fb";
$icon-uniE9FC: "\e9fc";
$icon-uniE9FD: "\e9fd";
$icon-uniE9FE: "\e9fe";
$icon-uniE9FF: "\e9ff";
$icon-uniEA00: "\ea00";
$icon-uniEA01: "\ea01";
$icon-uniEA02: "\ea02";
$icon-uniEA03: "\ea03";
$icon-uniEA04: "\ea04";
$icon-uniEA05: "\ea05";
$icon-uniEA06: "\ea06";
$icon-uniEA07: "\ea07";
$icon-uniEA08: "\ea08";
$icon-uniEA09: "\ea09";
$icon-uniEA0A: "\ea0a";
$icon-uniEA0B: "\ea0b";
$icon-uniEA0C: "\ea0c";
$icon-uniEA0D: "\ea0d";
$icon-uniEA0E: "\ea0e";
$icon-uniEA0F: "\ea0f";
$icon-uniEA10: "\ea10";
$icon-uniEA11: "\ea11";
$icon-uniEA12: "\ea12";
$icon-LogoLucas1: "\ea13";
$icon-LogoLucas21: "\ea14";
$icon-uniEA15: "\ea15";
$icon-uniEA16: "\ea16";
$icon-uniEA17: "\ea17";
$icon-uniEA18: "\ea18";
$icon-uniEA19: "\ea19";
$icon-uniEA1A: "\ea1a";
$icon-uniEA1B: "\ea1b";
$icon-uniEA1C: "\ea1c";
$icon-uniEA1D: "\ea1d";
$icon-uniEA1E: "\ea1e";
$icon-uniEA1F: "\ea1f";
$icon-uniEA20: "\ea20";
$icon-uniEA21: "\ea21";
$icon-uniEA22: "\ea22";
$icon-uniEA23: "\ea23";
$icon-uniEA24: "\ea24";
$icon-uniEA25: "\ea25";
$icon-uniEA26: "\ea26";
$icon-uniEA27: "\ea27";
$icon-uniEA28: "\ea28";
$icon-uniEA29: "\ea29";
$icon-uniEA2A: "\ea2a";
$icon-uniEA2B: "\ea2b";
$icon-uniEA2C: "\ea2c";
$icon-uniEA2D: "\ea2d";
$icon-uniEA2E: "\ea2e";
$icon-uniEA2F: "\ea2f";
$icon-uniEA30: "\ea30";
$icon-uniEA31: "\ea31";
$icon-instagram11: "\ea32";
$icon-linkedin11: "\ea33";
$icon-uniEA34: "\ea34";
$icon-uniEA35: "\ea35";
$icon-uniEA36: "\ea36";
$icon-uniEA37: "\ea37";
$icon-place1: "\ea38";
$icon-portrait1: "\ea39";
$icon-study1: "\ea3a";
$icon-tag1: "\ea3b";
$icon-work1: "\ea3c";
$icon-home: "\ea3d";
$icon-home2: "\ea3e";
$icon-home3: "\ea3f";
$icon-office: "\ea40";
$icon-newspaper: "\ea41";
$icon-pencil: "\ea42";
$icon-pencil2: "\ea43";
$icon-quill: "\ea44";
$icon-pen: "\ea45";
$icon-blog: "\ea46";
$icon-eyedropper: "\ea47";
$icon-droplet: "\ea48";
$icon-paint-format: "\ea49";
$icon-image: "\ea4a";
$icon-images: "\ea4b";
$icon-camera: "\ea4c";
$icon-headphones: "\ea4d";
$icon-music: "\ea4e";
$icon-play: "\ea4f";
$icon-film: "\ea50";
$icon-video-camera: "\ea51";
$icon-dice: "\ea52";
$icon-pacman: "\ea53";
$icon-spades: "\ea54";
$icon-clubs: "\ea55";
$icon-diamonds: "\ea56";
$icon-bullhorn: "\ea57";
$icon-connection: "\ea58";
$icon-podcast: "\ea59";
$icon-feed: "\ea5a";
$icon-star1: "\ea5b";
$icon-star_empty1: "\ea5c";
$icon-twitter11: "\ea5d";
$icon-youtube11: "\ea5e";
$icon-ic_alert1: "\ea5f";
$icon-ic_fechar1: "\ea60";
$icon-ic_atendimento1: "\ea61";
$icon-ic_boleto1: "\ea62";
$icon-ic_calendario1: "\ea63";
$icon-ic_camera_branco1: "\ea64";
$icon-ic_check2: "\ea65";
$icon-ic_editar1: "\ea66";
$icon-ic_filiais1: "\ea67";
$icon-ic_grid_2c1: "\ea68";
$icon-ic_grid_4c1: "\ea69";
$icon-ic_home1: "\ea6a";
$icon-ic_info2: "\ea6b";
$icon-ic_informativo1: "\ea6c";
$icon-ic_lupa1: "\ea6d";
$icon-ic_oferta1: "\ea6e";
$icon-ic_seta_baixo1: "\ea6f";
$icon-ic_seta_cima1: "\ea70";
$icon-ic_seta_direita1: "\ea71";
$icon-ic_seta_direita_red1: "\ea72";
$icon-ic_seta_esquerda1: "\ea73";
$icon-ic_devolucao1: "\ea74";
$icon-ic_sair1: "\ea75";
$icon-ic_detalhes_cota1: "\ea76";
$icon-mic: "\ea77";
$icon-book: "\ea78";
$icon-ic_solicitacoes1: "\ea79";
$icon-books: "\ea7a";
$icon-library: "\ea7b";
$icon-file-text: "\ea7c";
$icon-profile: "\ea7d";
$icon-file-empty: "\ea7e";
$icon-files-empty: "\ea7f";
$icon-file-text2: "\ea80";
$icon-file-picture: "\ea81";
$icon-file-music: "\ea82";
$icon-file-play: "\ea83";
$icon-file-video: "\ea84";
$icon-file-zip: "\ea85";
$icon-copy: "\ea86";
$icon-paste: "\ea87";
$icon-stack: "\ea88";
$icon-folder: "\ea89";
$icon-folder-open: "\ea8a";
$icon-folder-plus: "\ea8b";
$icon-folder-minus: "\ea8c";
$icon-folder-download: "\ea8d";
$icon-folder-upload: "\ea8e";
$icon-price-tag: "\ea8f";
$icon-price-tags: "\ea90";
$icon-barcode: "\ea91";
$icon-qrcode: "\ea92";
$icon-ticket: "\ea93";
$icon-cart: "\ea94";
$icon-coin-dollar: "\ea95";
$icon-coin-euro: "\ea96";
$icon-coin-pound: "\ea97";
$icon-coin-yen: "\ea98";
$icon-credit-card: "\ea99";
$icon-calculator: "\ea9a";
$icon-lifebuoy: "\ea9b";
$icon-phone: "\ea9c";
$icon-phone-hang-up: "\ea9d";
$icon-address-book: "\ea9e";
$icon-envelop: "\ea9f";
$icon-pushpin: "\eaa0";
$icon-location: "\eaa1";
$icon-location2: "\eaa2";
$icon-compass: "\eaa3";
$icon-compass2: "\eaa4";
$icon-map: "\eaa5";
$icon-map2: "\eaa6";
$icon-history: "\eaa7";
$icon-clock: "\eaa8";
$icon-clock2: "\eaa9";
$icon-alarm: "\eaaa";
$icon-bell: "\eaab";
$icon-stopwatch: "\eaac";
$icon-calendar: "\eaad";
$icon-printer: "\eaae";
$icon-keyboard: "\eaaf";
$icon-display: "\eab0";
$icon-laptop: "\eab1";
$icon-mobile: "\eab2";
$icon-mobile2: "\eab3";
$icon-tablet: "\eab4";
$icon-tv: "\eab5";
$icon-drawer: "\eab6";
$icon-drawer2: "\eab7";
$icon-box-add: "\eab8";
$icon-box-remove: "\eab9";
$icon-download: "\eaba";
$icon-upload: "\eabb";
$icon-floppy-disk: "\eabc";
$icon-drive: "\eabd";
$icon-database: "\eabe";
$icon-undo: "\eabf";
$icon-redo: "\eac0";
$icon-undo2: "\eac1";
$icon-redo2: "\eac2";
$icon-forward: "\eac3";
$icon-reply: "\eac4";
$icon-bubble: "\eac5";
$icon-bubbles: "\eac6";
$icon-bubbles2: "\eac7";
$icon-bubble2: "\eac8";
$icon-bubbles3: "\eac9";
$icon-bubbles4: "\eaca";
$icon-user: "\eacb";
$icon-users: "\eacc";
$icon-user-plus: "\eacd";
$icon-user-minus: "\eace";
$icon-user-check: "\eacf";
$icon-user-tie: "\ead0";
$icon-quotes-left: "\ead1";
$icon-quotes-right: "\ead2";
$icon-hour-glass: "\ead3";
$icon-spinner: "\ead4";
$icon-spinner2: "\ead5";
$icon-spinner3: "\ead6";
$icon-spinner4: "\ead7";
$icon-spinner5: "\ead8";
$icon-spinner6: "\ead9";
$icon-spinner7: "\eada";
$icon-spinner8: "\eadb";
$icon-spinner9: "\eadc";
$icon-spinner10: "\eadd";
$icon-spinner11: "\eade";
$icon-binoculars: "\eadf";
$icon-search: "\eae0";
$icon-zoom-in: "\eae1";
$icon-zoom-out: "\eae2";
$icon-enlarge: "\eae3";
$icon-shrink: "\eae4";
$icon-enlarge2: "\eae5";
$icon-shrink2: "\eae6";
$icon-key: "\eae7";
$icon-key2: "\eae8";
$icon-lock: "\eae9";
$icon-unlocked: "\eaea";
$icon-wrench: "\eaeb";
$icon-equalizer: "\eaec";
$icon-equalizer2: "\eaed";
$icon-cog: "\eaee";
$icon-cogs: "\eaef";
$icon-hammer: "\eaf0";
$icon-magic-wand: "\eaf1";
$icon-aid-kit: "\eaf2";
$icon-bug: "\eaf3";
$icon-pie-chart: "\eaf4";
$icon-stats-dots: "\eaf5";
$icon-stats-bars: "\eaf6";
$icon-stats-bars2: "\eaf7";
$icon-trophy: "\eaf8";
$icon-gift: "\eaf9";
$icon-glass: "\eafa";
$icon-glass2: "\eafb";
$icon-mug: "\eafc";
$icon-spoon-knife: "\eafd";
$icon-leaf: "\eafe";
$icon-rocket: "\eaff";
$icon-meter: "\eb00";
$icon-meter2: "\eb01";
$icon-hammer2: "\eb02";
$icon-fire: "\eb03";
$icon-lab: "\eb04";
$icon-magnet: "\eb05";
$icon-bin: "\eb06";
$icon-bin2: "\eb07";
$icon-briefcase: "\eb08";
$icon-airplane: "\eb09";
$icon-truck: "\eb0a";
$icon-road: "\eb0b";
$icon-accessibility: "\eb0c";
$icon-target: "\eb0d";
$icon-shield: "\eb0e";
$icon-power: "\eb0f";
$icon-switch: "\eb10";
$icon-power-cord: "\eb11";
$icon-clipboard: "\eb12";
$icon-list-numbered: "\eb13";
$icon-list: "\eb14";
$icon-list2: "\eb15";
$icon-tree: "\eb16";
$icon-menu: "\eb17";
$icon-menu2: "\eb18";
$icon-menu3: "\eb19";
$icon-menu4: "\eb1a";
$icon-cloud: "\eb1b";
$icon-cloud-download: "\eb1c";
$icon-cloud-upload: "\eb1d";
$icon-cloud-check: "\eb1e";
$icon-download2: "\eb1f";
$icon-upload2: "\eb20";
$icon-download3: "\eb21";
$icon-upload3: "\eb22";
$icon-sphere: "\eb23";
$icon-earth: "\eb24";
$icon-link: "\eb25";
$icon-flag: "\eb26";
$icon-attachment: "\eb27";
$icon-eye: "\eb28";
$icon-eye-plus: "\eb29";
$icon-eye-minus: "\eb2a";
$icon-eye-blocked: "\eb2b";
$icon-bookmark: "\eb2c";
$icon-bookmarks: "\eb2d";
$icon-sun: "\eb2e";
$icon-contrast: "\eb2f";
$icon-brightness-contrast: "\eb30";
$icon-star-empty: "\eb31";
$icon-star-half: "\eb32";
$icon-star-full: "\eb33";
$icon-heart: "\eb34";
$icon-heart-broken: "\eb35";
$icon-man: "\eb36";
$icon-woman: "\eb37";
$icon-man-woman: "\eb38";
$icon-happy: "\eb39";
$icon-happy2: "\eb3a";
$icon-smile: "\eb3b";
$icon-smile2: "\eb3c";
$icon-tongue: "\eb3d";
$icon-tongue2: "\eb3e";
$icon-sad: "\eb3f";
$icon-sad2: "\eb40";
$icon-wink: "\eb41";
$icon-wink2: "\eb42";
$icon-grin: "\eb43";
$icon-grin2: "\eb44";
$icon-cool: "\eb45";
$icon-cool2: "\eb46";
$icon-angry: "\eb47";
$icon-angry2: "\eb48";
$icon-evil: "\eb49";
$icon-evil2: "\eb4a";
$icon-shocked: "\eb4b";
$icon-shocked2: "\eb4c";
$icon-baffled: "\eb4d";
$icon-baffled2: "\eb4e";
$icon-confused: "\eb4f";
$icon-confused2: "\eb50";
$icon-neutral: "\eb51";
$icon-neutral2: "\eb52";
$icon-hipster: "\eb53";
$icon-hipster2: "\eb54";
$icon-wondering: "\eb55";
$icon-wondering2: "\eb56";
$icon-sleepy: "\eb57";
$icon-sleepy2: "\eb58";
$icon-frustrated: "\eb59";
$icon-frustrated2: "\eb5a";
$icon-crying: "\eb5b";
$icon-crying2: "\eb5c";
$icon-point-up: "\eb5d";
$icon-point-right: "\eb5e";
$icon-point-down: "\eb5f";
$icon-point-left: "\eb60";
$icon-warning: "\eb61";
$icon-notification: "\eb62";
$icon-question: "\eb63";
$icon-plus: "\eb64";
$icon-minus: "\eb65";
$icon-info: "\eb66";
$icon-cancel-circle: "\eb67";
$icon-blocked: "\eb68";
$icon-cross: "\eb69";
$icon-checkmark: "\eb6a";
$icon-checkmark2: "\eb6b";
$icon-spell-check: "\eb6c";
$icon-enter: "\eb6d";
$icon-exit: "\eb6e";
$icon-play2: "\eb6f";
$icon-pause: "\eb70";
$icon-stop: "\eb71";
$icon-previous: "\eb72";
$icon-next: "\eb73";
$icon-backward: "\eb74";
$icon-forward2: "\eb75";
$icon-play3: "\eb76";
$icon-pause2: "\eb77";
$icon-stop2: "\eb78";
$icon-backward2: "\eb79";
$icon-forward3: "\eb7a";
$icon-first: "\eb7b";
$icon-last: "\eb7c";
$icon-previous2: "\eb7d";
$icon-next2: "\eb7e";
$icon-eject: "\eb7f";
$icon-volume-high: "\eb80";
$icon-volume-medium: "\eb81";
$icon-volume-low: "\eb82";
$icon-volume-mute: "\eb83";
$icon-volume-mute2: "\eb84";
$icon-volume-increase: "\eb85";
$icon-volume-decrease: "\eb86";
$icon-loop: "\eb87";
$icon-loop2: "\eb88";
$icon-infinite: "\eb89";
$icon-shuffle: "\eb8a";
$icon-arrow-up-left: "\eb8b";
$icon-arrow-up: "\eb8c";
$icon-arrow-up-right: "\eb8d";
$icon-arrow-right: "\eb8e";
$icon-arrow-down-right: "\eb8f";
$icon-arrow-down: "\eb90";
$icon-arrow-down-left: "\eb91";
$icon-arrow-left: "\eb92";
$icon-arrow-up-left2: "\eb93";
$icon-arrow-up2: "\eb94";
$icon-arrow-up-right2: "\eb95";
$icon-arrow-right2: "\eb96";
$icon-arrow-down-right2: "\eb97";
$icon-arrow-down2: "\eb98";
$icon-arrow-down-left2: "\eb99";
$icon-arrow-left2: "\eb9a";
$icon-circle-up: "\eb9b";
$icon-circle-right: "\eb9c";
$icon-circle-down: "\eb9d";
$icon-circle-left: "\eb9e";
$icon-tab: "\eb9f";
$icon-move-up: "\eba0";
$icon-move-down: "\eba1";
$icon-sort-alpha-asc: "\eba2";
$icon-sort-alpha-desc: "\eba3";
$icon-sort-numeric-asc: "\eba4";
$icon-sort-numberic-desc: "\eba5";
$icon-sort-amount-asc: "\eba6";
$icon-sort-amount-desc: "\eba7";
$icon-command: "\eba8";
$icon-shift: "\eba9";
$icon-ctrl: "\ebaa";
$icon-opt: "\ebab";
$icon-checkbox-checked: "\ebac";
$icon-checkbox-unchecked: "\ebad";
$icon-radio-checked: "\ebae";
$icon-radio-checked2: "\ebaf";
$icon-radio-unchecked: "\ebb0";
$icon-crop: "\ebb1";
$icon-make-group: "\ebb2";
$icon-ungroup: "\ebb3";
$icon-scissors: "\ebb4";
$icon-filter: "\ebb5";
$icon-font: "\ebb6";
$icon-ligature: "\ebb7";
$icon-ligature2: "\ebb8";
$icon-text-height: "\ebb9";
$icon-text-width: "\ebba";
$icon-font-size: "\ebbb";
$icon-bold: "\ebbc";
$icon-underline: "\ebbd";
$icon-italic: "\ebbe";
$icon-strikethrough: "\ebbf";
$icon-omega: "\ebc0";
$icon-sigma: "\ebc1";
$icon-page-break: "\ebc2";
$icon-superscript: "\ebc3";
$icon-subscript: "\ebc4";
$icon-superscript2: "\ebc5";
$icon-subscript2: "\ebc6";
$icon-text-color: "\ebc7";
$icon-pagebreak: "\ebc8";
$icon-clear-formatting: "\ebc9";
$icon-table: "\ebca";
$icon-table2: "\ebcb";
$icon-insert-template: "\ebcc";
$icon-pilcrow: "\ebcd";
$icon-ltr: "\ebce";
$icon-rtl: "\ebcf";
$icon-section: "\ebd0";
$icon-paragraph-left: "\ebd1";
$icon-paragraph-center: "\ebd2";
$icon-paragraph-right: "\ebd3";
$icon-paragraph-justify: "\ebd4";
$icon-indent-increase: "\ebd5";
$icon-indent-decrease: "\ebd6";
$icon-share: "\ebd7";
$icon-new-tab: "\ebd8";
$icon-embed: "\ebd9";
$icon-embed2: "\ebda";
$icon-terminal: "\ebdb";
$icon-share2: "\ebdc";
$icon-mail: "\ebdd";
$icon-mail2: "\ebde";
$icon-mail3: "\ebdf";
$icon-mail4: "\ebe0";
$icon-amazon: "\ebe1";
$icon-google: "\ebe2";
$icon-google2: "\ebe3";
$icon-google3: "\ebe4";
$icon-google-plus: "\ebe5";
$icon-google-plus2: "\ebe6";
$icon-google-plus3: "\ebe7";
$icon-hangouts: "\ebe8";
$icon-google-drive: "\ebe9";
$icon-facebook: "\ebea";
$icon-facebook2: "\ebeb";
$icon-instagram: "\ebec";
$icon-whatsapp: "\ebed";
$icon-spotify: "\ebee";
$icon-telegram: "\ebef";
$icon-twitter: "\ebf0";
$icon-vine: "\ebf1";
$icon-vk: "\ebf2";
$icon-renren: "\ebf3";
$icon-sina-weibo: "\ebf4";
$icon-rss: "\ebf5";
$icon-rss2: "\ebf6";
$icon-youtube: "\ebf7";
$icon-youtube2: "\ebf8";
$icon-twitch: "\ebf9";
$icon-vimeo: "\ebfa";
$icon-vimeo2: "\ebfb";
$icon-lanyrd: "\ebfc";
$icon-flickr: "\ebfd";
$icon-flickr2: "\ebfe";
$icon-flickr3: "\ebff";
$icon-flickr4: "\ec00";
$icon-dribbble: "\ec01";
$icon-behance: "\ec02";
$icon-behance2: "\ec03";
$icon-deviantart: "\ec04";
$icon-500px: "\ec05";
$icon-steam: "\ec06";
$icon-steam2: "\ec07";
$icon-dropbox: "\ec08";
$icon-onedrive: "\ec09";
$icon-github: "\ec0a";
$icon-npm: "\ec0b";
$icon-basecamp: "\ec0c";
$icon-trello: "\ec0d";
$icon-wordpress: "\ec0e";
$icon-joomla: "\ec0f";
$icon-ello: "\ec10";
$icon-blogger: "\ec11";
$icon-blogger2: "\ec12";
$icon-tumblr: "\ec13";
$icon-tumblr2: "\ec14";
$icon-yahoo: "\ec15";
$icon-yahoo2: "\ec16";
$icon-tux: "\ec17";
$icon-appleinc: "\ec18";
$icon-finder: "\ec19";
$icon-android: "\ec1a";
$icon-windows: "\ec1b";
$icon-windows8: "\ec1c";
$icon-soundcloud: "\ec1d";
$icon-soundcloud2: "\ec1e";
$icon-skype: "\ec1f";
$icon-reddit: "\ec20";
$icon-hackernews: "\ec21";
$icon-wikipedia: "\ec22";
$icon-linkedin: "\ec23";
$icon-linkedin2: "\ec24";
$icon-lastfm: "\ec25";
$icon-lastfm2: "\ec26";
$icon-delicious: "\ec27";
$icon-stumbleupon: "\ec28";
$icon-stumbleupon2: "\ec29";
$icon-stackoverflow: "\ec2a";
$icon-pinterest: "\ec2b";
$icon-pinterest2: "\ec2c";
$icon-xing: "\ec2d";
$icon-xing2: "\ec2e";
$icon-flattr: "\ec2f";
$icon-foursquare: "\ec30";
$icon-yelp: "\ec31";
$icon-paypal: "\ec32";
$icon-chrome: "\ec33";
$icon-firefox: "\ec34";
$icon-IE: "\ec35";
$icon-edge: "\ec36";
$icon-safari: "\ec37";
$icon-opera: "\ec38";
$icon-file-pdf: "\ec39";
$icon-file-openoffice: "\ec3a";
$icon-file-word: "\ec3b";
$icon-file-excel: "\ec3c";
$icon-libreoffice: "\ec3d";
$icon-html-five: "\ec3e";
$icon-html-five2: "\ec3f";
$icon-css3: "\ec40";
$icon-git: "\ec41";
$icon-codepen: "\ec42";
$icon-svg: "\ec43";
$icon-IcoMoon: "\ec44";
$icon-ic_access_control: "\e96c";
$icon-ic_add: "\e96d";
$icon-ic_add_new_module: "\e96e";
$icon-ic_adjustments: "\e96f";
$icon-ic_arrow_back: "\e970";
$icon-ic_arrow_end: "\e971";
$icon-ic_arrow_filter_down: "\e972";
$icon-ic_arrow_filter_up: "\e973";
$icon-ic_arrow_front: "\e974";
$icon-ic_arrow_start: "\e975";
$icon-ic_billing: "\e976";
$icon-ic_bpm: "\e977";
$icon-ic_brainplace: "\e978";
$icon-ic_calendar: "\e979";
$icon-ic_check1: "\e97a";
$icon-ic_check_circle: "\e97b";
$icon-ic_chevron_left: "\e97c";
$icon-ic_chevron_right: "\e97d";
$icon-ic_clock: "\e97e";
$icon-ic_close: "\e97f";
$icon-ic_dashboard: "\e980";
$icon-ic_default_module: "\e981";
$icon-ic_delete: "\e982";
$icon-ic_disable: "\e99f";
$icon-ic_download: "\e9a0";
$icon-ic_drag_indicator: "\e9a2";
$icon-ic_edit: "\e9a3";
$icon-ic_expand_less: "\e9a4";
$icon-ic_expand_more: "\e9a5";
$icon-ic_export: "\e9a6";
$icon-ic_eye_off: "\e9a7";
$icon-ic_eye_on: "\e9a8";
$icon-ic_file: "\e9a9";
$icon-ic_file_doc: "\e9aa";
$icon-ic_file_img: "\e9ab";
$icon-ic_file_manager: "\e9ac";
$icon-ic_file_pdf: "\e9ad";
$icon-ic_file_txt: "\e9ae";
$icon-ic_filter: "\e9af";
$icon-ic_grid_mode: "\e9b0";
$icon-ic_history: "\e9b1";
$icon-ic_info1: "\e9b2";
$icon-ic_link: "\e9b3";
$icon-ic_list_mode: "\e9b4";
$icon-ic_marker_map: "\e9b5";
$icon-ic_meeting_center: "\e9b6";
$icon-ic_meeting_room: "\e9b7";
$icon-ic_building: "\e9b8";
$icon-ic_menu: "\e9b9";
$icon-ic_ml_module: "\e9ba";
$icon-ic_more: "\e9bb";
$icon-ic_ocr_module: "\e9bc";
$icon-ic_pause: "\e9bd";
$icon-ic_play: "\e9be";
$icon-ic_plus: "\e9bf";
$icon-ic_profile: "\e9c0";
$icon-ic_reprocess: "\e9c1";
$icon-ic_restore: "\e9c2";
$icon-ic_result_1: "\e9c3";
$icon-ic_result_2: "\e9c4";
$icon-ic_result_3: "\e9c5";
$icon-ic_search: "\e9c6";
$icon-ic_share: "\e9c7";
$icon-ic_star: "\e9c8";
$icon-ic_status_bullet: "\e9c9";
$icon-ic_subdirectory: "\e9ca";
$icon-ic_subdirectory_return: "\e9cb";
$icon-ic_timeline_circle: "\e9cc";
$icon-ic_upload: "\e9cd";
$icon-ic_star_half: "\e9ce";
$icon-qr-code: "\e965";
$icon-mastercard-path1: "\e966";
$icon-mastercard-path2: "\ec45";
$icon-ic_senha_on: "\e967";
$icon-ic_senha_off: "\e968";
$icon-ic_rotate_right1: "\e969";
$icon-ic_rotate_left1: "\e96a";
$icon-ic_lock: "\e96b";
$icon-facebook1: "\e915";
$icon-instagram1: "\e95a";
$icon-linkedin1: "\e95b";
$icon-star: "\e983";
$icon-star_empty: "\e984";
$icon-twitter1: "\e985";
$icon-youtube1: "\e986";
$icon-ic_alert: "\e987";
$icon-ic_fechar: "\e988";
$icon-ic_atendimento: "\e989";
$icon-ic_boleto: "\e98a";
$icon-ic_calendario: "\e98b";
$icon-ic_camera_branco: "\e98c";
$icon-ic_check: "\e98d";
$icon-ic_editar: "\e98e";
$icon-ic_filiais: "\e98f";
$icon-ic_grid_2c: "\e990";
$icon-ic_grid_4c: "\e991";
$icon-ic_home: "\e992";
$icon-ic_info: "\e993";
$icon-ic_informativo: "\e994";
$icon-ic_lupa: "\e995";
$icon-ic_oferta: "\e996";
$icon-ic_seta_baixo: "\e997";
$icon-ic_seta_cima: "\e998";
$icon-ic_seta_direita: "\e999";
$icon-ic_seta_direita_red: "\e99a";
$icon-ic_seta_esquerda: "\e99b";
$icon-ic_devolucao: "\e99c";
$icon-ic_sair: "\e99d";
$icon-ic_detalhes_cota: "\e99e";
$icon-ic_solicitacoes: "\e9a1";
$icon-audio: "\e900";
$icon-brazil-flag-path1: "\e901";
$icon-brazil-flag-path2: "\e902";
$icon-brazil-flag-path3: "\e903";
$icon-brazil-flag-path4: "\e904";
$icon-clicker: "\e905";
$icon-electronics: "\e906";
$icon-england-path1: "\e907";
$icon-england-path2: "\e908";
$icon-france-path1: "\e909";
$icon-france-path2: "\e90a";
$icon-france-path3: "\e90b";
$icon-ic_logo_gray: "\e90c";
$icon-ic_rotate_left: "\e90d";
$icon-ic_rotate_right: "\e90e";
$icon-img_select_doc-path1: "\e90f";
$icon-img_select_doc-path2: "\e910";
$icon-img_select_doc-path3: "\e911";
$icon-laptop1: "\e912";
$icon-like: "\e913";
$icon-logo-path1: "\e914";
$icon-logo-path2: "\e916";
$icon-logo-path3: "\e917";
$icon-logo-path4: "\e918";
$icon-logo-path5: "\e919";
$icon-logo-path6: "\e91a";
$icon-logo-path7: "\e91b";
$icon-logo-path8: "\e91c";
$icon-logo-path9: "\e91d";
$icon-logo-path10: "\e91e";
$icon-logo-path11: "\e91f";
$icon-logo-path12: "\e920";
$icon-logo-path13: "\e921";
$icon-logo-path14: "\e922";
$icon-logo-path15: "\e923";
$icon-logo-path16: "\e924";
$icon-logo-path17: "\e925";
$icon-logo-path18: "\e926";
$icon-logo-path19: "\e927";
$icon-logo-path20: "\e928";
$icon-logo-path21: "\e929";
$icon-logo-path22: "\e92a";
$icon-logo-path23: "\e92b";
$icon-logo-path24: "\e92c";
$icon-logo-path25: "\e92d";
$icon-logo-path26: "\e92e";
$icon-logo-path27: "\e92f";
$icon-logo-path28: "\e930";
$icon-logo-path29: "\e931";
$icon-logo-path30: "\e932";
$icon-logo-path31: "\e933";
$icon-logo-path32: "\e934";
$icon-logo-path33: "\e935";
$icon-logo-path34: "\e936";
$icon-logo-path35: "\e937";
$icon-logo-path36: "\e938";
$icon-logo-path37: "\e939";
$icon-logo-path38: "\e93a";
$icon-LogoLucas: "\e93b";
$icon-LogoLucas2: "\e93c";
$icon-man1-path1: "\e93d";
$icon-man1-path2: "\e93e";
$icon-man1-path3: "\e93f";
$icon-man1-path4: "\e940";
$icon-man1-path5: "\e941";
$icon-man1-path6: "\e942";
$icon-man1-path7: "\e943";
$icon-man1-path8: "\e944";
$icon-man1-path9: "\e945";
$icon-man1-path10: "\e946";
$icon-man1-path11: "\e947";
$icon-man1-path12: "\e948";
$icon-man1-path13: "\e949";
$icon-man1-path14: "\e94a";
$icon-man1-path15: "\e94b";
$icon-man1-path16: "\e94c";
$icon-man1-path17: "\e94d";
$icon-man1-path18: "\e94e";
$icon-man1-path19: "\e94f";
$icon-man1-path20: "\e950";
$icon-man1-path21: "\e951";
$icon-man1-path22: "\e952";
$icon-man1-path23: "\e953";
$icon-man1-path24: "\e954";
$icon-man1-path25: "\e955";
$icon-man1-path26: "\e956";
$icon-man1-path27: "\e957";
$icon-man1-path28: "\e958";
$icon-man1-path29: "\e959";
$icon-man1-path30: "\e95c";
$icon-man1-path31: "\e95d";
$icon-man1-path32: "\e95e";
$icon-man1-path33: "\e95f";
$icon-place: "\e960";
$icon-portrait: "\e961";
$icon-study: "\e962";
$icon-tag: "\e963";
$icon-work: "\e964";

