$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-like: "\e924";
$icon-ic_default_module: "\e923";
$icon-ic_arrow_front: "\e91e";
$icon-ic_arrow_back: "\e91f";
$icon-ic_drag_indicator: "\e920";
$icon-ic_pause: "\e91d";
$icon-ic_arrow_filter_down: "\e91b";
$icon-ic_arrow_filter_up: "\e91c";
$icon-ic_more: "\e918";
$icon-ic_chevron_left: "\e919";
$icon-ic_chevron_right: "\e91a";
$icon-ic_check: "\e915";
$icon-ic_close: "\e916";
$icon-ic_search: "\e917";
$icon-ic_menu: "\e914";
$icon-ic_adjustments: "\e904";
$icon-ic_camera: "\e905";
$icon-ic_delete: "\e906";
$icon-ic_edit: "\e907";
$icon-ic_access_control: "\e908";
$icon-ic_billing: "\e909";
$icon-ic_clock: "\e90a";
$icon-ic_dashboard: "\e90b";
$icon-ic_file_manager: "\e90c";
$icon-ic_grid_mode: "\e90d";
$icon-ic_info: "\e90e";
$icon-ic_list_mode: "\e90f";
$icon-ic_plus: "\e910";
$icon-ic_profile: "\e911";
$icon-ic_restore: "\e912";
$icon-ic_status_bullet: "\e913";
$icon-ic_arrow_back1: "\e900";
$icon-ic_eye_black_off-path1: "\e901";
$icon-ic_eye_black_off-path2: "\e902";
$icon-ic_eye_black_on: "\e903";
$icon-ic_arrow_end: "\e921";
$icon-ic_pause1: "\e922";

